body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 255, 234);
}

button {
    margin-top: 50px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 7px;
    font-weight: 800;
}

#yes-btn {
    background-color: rgb(75, 214, 10);
    color: white;
}

#no-btn {
    background-color: rgb(255, 61, 223);
    color: white;
}

p {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

#del-el {
    background-color: rgb(255, 251, 0);
}